#!/bin/sh

# Getting the server's IP address
# SERVER_IP=$(hostname -I | awk '{print $1}')

# Setting the WG_HOST environment variable
# export WG_HOST=$SERVER_IP

# You can check that the variable is set
# echo "WG_HOST is set to $WG_HOST"

# Example of setting up a block for a user
# iptables -I FORWARD -s 10.8.0.8 -d 10.8.0.0/24 -j REJECT
# iptables -I FORWARD -s 10.8.0.8 -o eth0 -j ACCEPT

exec npm run serve
